<section>
  <div class="image-div">
    <img src="../../../../assets/images/image-donate.png" alt="">
  </div>
  <div class="text-div">
    <h3>Doná</h3>
    <p>En Somos Más, estamos convencidos que todos tenemos algo para compartir con los demás. Por eso, te invitamos a sumarte y ayudarnos a llevar asistencia, esperanza y oportunidades a todos los niños que están en situación de pobreza, para que logren transformar su realidad.</p>
    <div class="confirmation-button">
      <a
        pButton
        pRipple
        type="button"
        routerLink="/donar"
        label="Doná"
        class="danger"
      ></a>
    </div>
  </div>
</section>