<section>
  <div class="image-div">
    <img src="../../../../assets/images/image-donate.png" alt="">
  </div>
  <div class="text-div">
    <h3>Doná</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio laboriosam quae esse repellendus enim temporibus culpa harum illum illo est, dolore, fugit quisquam commodi magni ut, obcaecati itaque vero error.</p>
    <div class="confirmation-button">
      <a
        pButton
        pRipple
        type="button"
        routerLink="/donar"
        label="Doná"
        class="danger"
      ></a>
    </div>
  </div>
</section>