.section-donar {
  position: relative;
  max-height: 70vw;
  width: 100%;
  background-image: linear-gradient(
    to top right,
    var(--danger),
    var(--primary)
  );
  background-color: aqua;
  .container-donar {
    max-width: 1200px;
    margin: auto;
    .row-donar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .column-donar {
        img {
          width: 400px;
        }
        .container-description {
          background-color: white;
          -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
          border-radius: 30px;
          margin: 30px;
          padding: 30px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .row-donar {
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
    .section-donar {
        max-height: 200vh;
    }
}

/* 320px — 480px: Mobile devices; 481px — 768px: iPads, Tablets*/
@media (min-width: 320px) and (max-width: 768px) {
    .section-donar {
        max-height: 200vh;
    }
  }
