<div class="header">
    <img class="logo" src="../../../../../assets/images/logo.png" alt="logo">
    <h1>Organización</h1>
</div>

<div class="col-md-10 mb-5 mx-auto">
    <div class="container mt-3">
        <h6>Nombre de la organización:</h6>
        <div class="text-container">
            <p>Somos nosotros</p>
        </div>
    </div>
    <div class="container mt-3">
        <h6>Logo:</h6>
        <div class="text-container">
            <img src="../../../../../assets/images/logo.png" alt="">
        </div>
    </div>
    <div class="container mt-3">
        <h6>Pequeña descripción:</h6>
        <div class="text-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maiores adipisci corporis, porro voluptas est molestias ab nostrum vero ducimus quae omnis, non architecto delectus!</p>
        </div>
    </div>
    <button pButton pRipple type="button" label="Editar" class="primary mb-5"></button>
</div>