main {
  margin: 48px;
}
section.activity-page {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 0px;
  .down-content {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    h3{
      color: var(--primary-text);
    }
    p.description {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid #eee;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #eee;
    }
  }
}