<app-header></app-header>

<app-carousel [items]="items"></app-carousel>

<main>
  <p class="reminder">
    Faltan 
    <span>{{remainder.days}}d </span>
    <span>{{remainder.hours}}h </span>
    <span>{{remainder.minutes}}m</span>
  </p>
  <p class="direction"><span class="bold">Dirección: </span>{{location}}</p>
  <p class="day"><span class="bold">Día: </span>{{dueDate | date:'dd/MM/yy'}}</p>
  <p class="time"><span class="bold">Horario: </span>{{dueDate | date:'hh:mm'}}</p>
  <p class="description">
    Durante la jornada se recolectarán juguetes para todas las edades. Esta campaña nació en para traer felicidad, momentos, recuerdos. Nuestro equipo de voluntarios se encargan de la separación y distribución de todos los juguetes durante la tarde del 24/12 y del 06/01.
  </p>
  <div class="images">
    <img class="bow-tie" src="../../../../assets/landing/bow-tie.png" alt="bow-tie">
    <img class="castle" src="../../../../assets/landing/castle.png" alt="castle">
    <img class="hat" src="../../../../assets/landing/hat.png" alt="hat">
    <img class="horse" src="../../../../assets/landing/horse.png" alt="horse">
    <img class="maraca" src="../../../../assets/landing/maraca.png" alt="maraca">
    <img class="teddy-bear" src="../../../../assets/landing/teddy-bear.png" alt="teddy-bear">
  </div>
</main>

<app-landing-footer></app-landing-footer>