img {
	border-radius: 0px 0px 12px 12px;
	filter: brightness(80%);
	object-fit: cover;
	object-position: center;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

h2{
	font-size: 3em;
	font-weight: 700;
	line-height: 1;
}
h3{
	font-size: 2em;
	font-weight: 600;
	margin: 0;
}