<div class="container-fluid">
  <div class="col-md-6 mt-5 mb-5 mx-auto fadeIn second">
    <div id="formContent">
      <div class="p-4 header">
        <div class="row">
          <div class="mx-auto d-flex justify-content-center">
            <app-logo></app-logo>
          </div>
        </div>

        <header>
          <h1 class="my-5 text-center">{{ title }} Miembros</h1>
        </header>

        <div class="mx-auto d-flex justify-content-center">
          <main>
            <form [formGroup]="form">
              <!-- NAME -->
              <div class="field">
                <label for="name" class="block my-2">Nombre</label>
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  aria-describedby="name-help"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      form.get('name')?.touched && form.get('name')?.errors
                  }"
                  formControlName="name"
                  pInputText
                />
                <small
                  *ngIf="form.get('name')?.touched && form.get('name')?.errors"
                  id="name-help"
                  class="p-error block"
                >
                  Debe ingresar un nombre
                </small>
              </div>

              <!-- IMAGE -->
              <div class="field mt-3">
                <label for="profile_image" class="block">Foto de perfil</label>
                <div *ngIf="file">
                  <div class="text-container">
                    <img
                      style="width: 200px"
                      class="img-thumbnail"
                      src="{{ file }}"
                      alt=""
                    />
                  </div>
                  <small id="image-text" class="block">
                    Para modificar la imagen seleccione un nuevo archivo.
                  </small>
                </div>
                <p-fileUpload
                  id="profile_image"
                  [customUpload]="true"
                  name="profile_image"
                  #fileUploader
                  (uploadHandler)="onUpload($event, fileUploader)"
                  [multiple]="false"
                  accept="image/*.jpg image/*.png"
                  class="mt-3"
                ></p-fileUpload>
              </div>

              <!-- DESCRIPTION -->
              <div class="field mt-3">
                <label for="shortDescription" class="my-2">Descripción</label>
                <ckeditor
                  formControlName="description"
                  data="<p>Breve descripción!</p>"
                ></ckeditor>
                <small
                  *ngIf="
                    form.get('description')?.touched &&
                    form.get('description')?.errors
                  "
                  id="logo-help"
                  class="p-error block"
                >
                  El detalle es obligatorio.
                </small>
              </div>

              <!-- Facebook -->
              <div class="field mt-3">
                <label for="facebook" class="block my-2">Facebook</label>
                <input
                  class="form-control"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      form.get('facebookUrl')?.touched &&
                      form.get('facebookUrl')?.errors
                  }"
                  formControlName="facebookUrl"
                  id="facebook"
                  type="text"
                  aria-describedby="facebook-help"
                  pInputText
                />
                <small
                  *ngIf="
                    form.get('facebook')?.touched &&
                    form.get('facebook')?.errors
                  "
                  id="facebook-help"
                  class="p-error block"
                >
                  La Url debe ser válida.
                </small>
              </div>

              <!-- LinkedIn -->
              <div class="field">
                <label for="linkedin" class="block my-2">LinkedIn</label>
                <input
                  class="form-control"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      form.get('linkedinUrl')?.touched &&
                      form.get('linkedinUrl')?.errors
                  }"
                  formControlName="linkedinUrl"
                  id="linkedin"
                  type="text"
                  aria-describedby="linkedin-help"
                  pInputText
                />
                <small
                  *ngIf="
                    form.get('linkedin')?.touched &&
                    form.get('linkedin')?.errors
                  "
                  id="facebook-help"
                  id="linkedin-help"
                  class="p-error block"
                >
                  La Url debe ser válida.
                </small>
              </div>

              <!-- Button -->
              <div class="my-3 d-flex justify-content-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="{{ button }}"
                  class="primary mt-3"
                  (click)="submit()"
                ></button>
              </div>
            </form>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
