<nav class="navbar navbar-expand-xl navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <app-logo></app-logo>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="me-1 mb-1 danger" pButton pRipple label="Inicio" type="button" routerLink="home"></a>
        </li>
        <li class="nav-item">
          <a  class="me-1 mb-1 danger" pButton pRipple label="Nosotros" type="button" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="me-1 mb-1 danger" pButton pRipple label="Actividades" type="button" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="me-1 mb-1 danger" pButton pRipple label="Novedades" type="button" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="me-1 mb-1 danger" pButton pRipple label="Testimonios" type="button" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="me-1 mb-1 danger" pButton pRipple label="Contacto" type="button" routerLink="contacto"></a>
        </li>
        <li class="nav-item">
          <a class="me-1 mb-1 danger" pButton pRipple label="Contribuye" type="button" routerLink="donar"></a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="me-1 mb-1 warning" label="Log in" pButton pRipple type="button" routerLink="backoffice/login"></a>
        <a
          class="primary mb-1"
          label="Registrate"
          pButton pRipple 
          type="button"
          routerLink="backoffice/registro"
          ></a
        >
      </div>
    </div>
  </div>
</nav>
