<app-image-curved
  url="https://www.consumer.es/app/uploads/2019/07/img_juegos-solidarios.jpg"
  title="Colaborá con Somos Más"
  [text]="'Somos mas'"
  [opacity]="0.2"
>
</app-image-curved>

  <section class="activity-page" id="activity">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                 
                </div>
                <div class="down-content">
                  <p class="description">
                        {{description}}                    
                  </p>
                 
                      
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>