<section class="heading-page" id="top"></section>

<section class="header-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title">
              <h6>Actividad</h6>
              <h2>{{title}}</h2>
            </div>
          </div>
        </div>
      </div>
</section>

  <section class="activity-page" id="activity">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                 
                </div>
                <div class="down-content">
                  <p class="description">
                        {{description}}                    
                  </p>
                 
                      
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>