<app-dialog></app-dialog>
<app-progress-bar [isLoading]="isLoading"></app-progress-bar>
<app-carousel [items]="slides"></app-carousel>

<section class="description-section fadeIn second">
  <div class="text-center">
    <h2>Sobre Nosotros</h2>
    <div
      class="description"
      [innerHTML]="organization?.short_description"
    ></div>
  </div>
</section>

<section>
  <div class="mt-3 text-center fadeIn third">
    <h2>Últimas novedades</h2>
  </div>
  <div class="container content-fluid mb-5">
    <swiper *ngIf="news.length" [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let n of news">
        <app-listnews [news]="n"></app-listnews
      ></ng-template>
    </swiper>
  </div>
</section>

<app-donation-section></app-donation-section>

  <section class="section-campaign">
    <div class="fs-3 text-center">
      <h2>Campañas</h2>
    </div>
    <div class="container-campaign">
      <div class="card" [routerLink]="['/toys-campaign']">
        <img
          class="logo"
          src="../../../../assets/images/campana-juguetes.png"
          alt=""
        />
      </div>
      <div class="card" [routerLink]="['/school-campaign']">
        <img
          class="logo"
          src="../../../../assets/images/school-logo.png"
          alt=""
        />
      </div>
    </div>
  </section>
