.container-fluid {
  padding: 0;
}
aside {
  clip-path: polygon( 100% 0%, 0% 0% , 0% 92.04%, 1% 92.03%, 2% 92.01%, 3% 91.97%, 4% 91.91%, 5% 91.84%, 6% 91.76%, 7% 91.66%, 8% 91.55%, 9% 91.42%, 10% 91.28%, 11% 91.13%, 12% 90.96%, 13% 90.78%, 14% 90.58%, 15% 90.38%, 16% 90.16%, 17% 89.93%, 18% 89.69%, 19% 89.44%, 20% 89.18%, 21% 88.92%, 22% 88.64%, 23% 88.36%, 24% 88.07%, 25% 87.77%, 26% 87.47%, 27% 87.16%, 28% 86.85%, 29% 86.53%, 30% 86.21%, 31% 85.89%, 32% 85.57%, 33% 85.24%, 34% 84.92%, 35% 84.60%, 36% 84.28%, 37% 83.96%, 38% 83.64%, 39% 83.33%, 40% 83.02%, 41% 82.72%, 42% 82.42%, 43% 82.13%, 44% 81.85%, 45% 81.57%, 46% 81.31%, 47% 81.05%, 48% 80.80%, 49% 80.56%, 50% 80.33%, 51% 80.12%, 52% 79.91%, 53% 79.72%, 54% 79.54%, 55% 79.37%, 56% 79.21%, 57% 79.07%, 58% 78.94%, 59% 78.83%, 60% 78.73%, 61% 78.65%, 62% 78.58%, 63% 78.53%, 64% 78.49%, 65% 78.47%, 66% 78.46%, 67% 78.47%, 68% 78.49%, 69% 78.53%, 70% 78.59%, 71% 78.66%, 72% 78.74%, 73% 78.84%, 74% 78.95%, 75% 79.08%, 76% 79.22%, 77% 79.38%, 78% 79.54%, 79% 79.73%, 80% 79.92%, 81% 80.13%, 82% 80.34%, 83% 80.57%, 84% 80.81%, 85% 81.06%, 86% 81.32%, 87% 81.59%, 88% 81.87%, 89% 82.15%, 90% 82.44%, 91% 82.74%, 92% 83.04%, 93% 83.35%, 94% 83.66%, 95% 83.98%, 96% 84.30%, 97% 84.62%, 98% 84.94%, 99% 85.26%, 100% 85.58%);
  height: 70vw;
  max-height: 60vh;
}
aside {
  width: 100%;
}

aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}

main {
  width: 100%;
  padding: 12px 36px;
  display: flex;
  flex-direction: column;
}

.pay-section > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

a {
  text-decoration: none;
}

:host {
  ::ng-deep .currency-input{
    margin: 10px;
    margin-left: 0;
  }
}

@media screen and (min-width:840px) {
  main {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .text {
    width: 30%;
    max-width: 300px;
  }
  .pay-section {
    width: 40%;
    max-width: 400px;
  }
}

@media screen and (min-width:1340px) {
  main {
    padding: 12px 20%;
  }
}