<div class="container-fluid">
  <aside>
    <img src="https://i.imgur.com/Et0jFGl.jpg" alt="photo-5">
  </aside>
  <main>
    <div class="text">
      <p>{{msj}}</p>
    </div>
    <div class="pay-section">
      <div>
        <p-inputNumber
        styleClass="currency-input"
        [formControl]="amount"
        inputId="currency-us"
        mode="currency"
        currency="USD"
        locale="en-US"
        ></p-inputNumber>
        <a pButton pRipple type="button" href="/" target="_blank" label="Doná" class="primary"></a>
      </div>
      <p>Estás por donar {{amount.value | currency:'ARS':'symbol-narrow'}} mediante la plataforma de Mercado Pago.</p>
    </div>
  </main>
</div>