.curved-image {
  position: relative;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 100%,
    1% 99.99%,
    2% 99.97%,
    3% 99.93%,
    4% 99.87%,
    5% 99.8%,
    6% 99.72%,
    7% 99.62%,
    8% 99.51%,
    9% 99.38%,
    10% 99.24%,
    11% 99.09%,
    12% 98.92%,
    13% 98.74%,
    14% 98.54%,
    15% 98.34%,
    16% 98.12%,
    17% 97.89%,
    18% 97.65%,
    19% 97.4%,
    20% 97.14%,
    21% 96.88%,
    22% 96.6%,
    23% 96.32%,
    24% 96.03%,
    25% 95.73%,
    26% 95.43%,
    27% 95.12%,
    28% 94.81%,
    29% 94.49%,
    30% 94.17%,
    31% 93.85%,
    32% 93.53%,
    33% 93.2%,
    34% 92.88%,
    35% 92.56%,
    36% 92.24%,
    37% 91.92%,
    38% 91.6%,
    39% 91.29%,
    40% 90.98%,
    41% 90.68%,
    42% 90.38%,
    43% 90.09%,
    44% 89.81%,
    45% 89.53%,
    46% 89.27%,
    47% 89.01%,
    48% 88.76%,
    49% 88.52%,
    50% 88.29%,
    51% 88.08%,
    52% 87.87%,
    53% 87.68%,
    54% 87.5%,
    55% 87.33%,
    56% 87.17%,
    57% 87.03%,
    58% 86.9%,
    59% 86.79%,
    60% 86.69%,
    61% 86.61%,
    62% 86.54%,
    63% 86.49%,
    64% 86.45%,
    65% 86.43%,
    66% 86.42%,
    67% 86.43%,
    68% 86.45%,
    69% 86.49%,
    70% 86.55%,
    71% 86.62%,
    72% 86.7%,
    73% 86.8%,
    74% 86.91%,
    75% 87.04%,
    76% 87.18%,
    77% 87.34%,
    78% 87.5%,
    79% 87.69%,
    80% 87.88%,
    81% 88.09%,
    82% 88.3%,
    83% 88.53%,
    84% 88.77%,
    85% 89.02%,
    86% 89.28%,
    87% 89.55%,
    88% 89.83%,
    89% 90.11%,
    90% 90.4%,
    91% 90.7%,
    92% 91%,
    93% 91.31%,
    94% 91.62%,
    95% 91.94%,
    96% 92.26%,
    97% 92.58%,
    98% 92.9%,
    99% 93.22%,
    100% 93.54%
  );
  height: 70vw;
  max-height: 60vh;
  width: 100%;
  background-image: linear-gradient(
    to top right,
    var(--danger),
    var(--primary)
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}

.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: black;
}

.text-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
p {
  font-weight: bold;
  text-align: center;
}
h1 {
  margin-bottom: 24px;
}
.centered {
  display: flex;
  justify-content: center;
  & > * {
    text-align: center;
  }
}