<div class="main-footer">
  <ul>
    <li><a href="/actividades">Actividades</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
  </ul>
  <a href="/" class="logo"><app-logo></app-logo></a>
  <ul>
    <li><a href="/donar">Contribuye</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</div>

<div class="social-media">
    <a href="https://www.instagram.com/caritasargentina/">
      <img src="../../../../assets/icons/instagram.svg" alt="ig">
    </a>
    <a href="https://www.linkedin.com/company/c%C3%A1ritas-argentina/">
      <img src="../../../../assets/icons/linkedin.svg" alt="ig">
    </a>
    <a href="https://twitter.com/caritasar">
      <img src="../../../../assets/icons/twitter.svg" alt="ig">
    </a>
</div>
