.input-search {
  margin: auto;
  display: flex;
  justify-content: center;
  transform: translateY(-160px);
  .pi{
    transform: translate(-33px, 10px);
    z-index: 1;
  }
}
.input {
  position: relative;
  background: linear-gradient(21deg, var(--primary), #fafa88);
  padding: 2px;
  display: inline-block;
  border-radius: 9999em;
  *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1;
    &:focus + span {
      opacity: 1;
      transform: scale(1);
    }
  }

  span {
    transform: scale(0.993, 0.94); // scale it down just a little bit
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;

    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff,
      3px -3px 30px var(--primary), -3px 3px 30px #fafa88;
  }
}

input {
  line-height: inherit;
  color: #2e3750;
  min-width: 16em;
  height: 2em;
}

::placeholder {
  color: #83868a;
}

html::after {
  content: "";
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* 320px — 480px: Mobile devices; 481px — 768px: iPads, Tablets*/
@media (min-width: 320px) and (max-width: 768px) {
    .input-search {
        text-align: center;
        transform: translate(0px, 0px);
        .pi{
          transform: translate(-33px, 10px);
          z-index: 1;
        }
      }
  }
