section{
    width: 100%;
    display: contents;
}
.portada{
    background-size: cover;
}

$carousel-transition-duration:       .5s;
$carousel-control-prev-icon-bg:      url("../../../../assets/icons/arrow-left-circle.svg");
$carousel-control-next-icon-bg: 	 url("../../../../assets/icons/arrow-right-circle.svg");

.carousel-control-next-icon {
	background-image: $carousel-control-next-icon-bg;
}

.carousel-control-prev-icon {
	background-image: $carousel-control-prev-icon-bg;
}

.scrolling-wrapper{
	overflow-x: unset;
    overflow-y: hidden;
    max-width: 1200px;
	.container{
		display: flex;
		justify-content: center;
		$size: 800px;
		.col-3{
			width: $size/4;
            margin-right: 20px;
		  }
	}
}

.content_wrapper {
    align-items: flex-start;
    align-content: flex-start;
    max-width: 1400px;
    margin: auto;
    #carouselId .carousel-item {
        .carousel-caption{
            left: 4%;
            top: 30%;
            transform: translateY(40%);
            text-align: left;
            bottom: initial;
        }
        
    }
    
}

@media (max-width: 700px) {
    .content_wrapper {
        #carouselId .carousel-item {
            .carousel-caption{
                top: 0% !important;
                transform: translateY(0%);
            }
        }
    }
}