<div class="row justify-content-around">
  <ul class="nav align-items-center">
    <div class="col col-md-12 col-lg-5 d-flex justify-content-center justify-content-lg-end">
      <li class="nav-item">
        <a class="nav-link" href="#">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Actividades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Novedades</a>
      </li>
    </div>
    <div class="col col-md-12 col-lg-2 d-flex justify-content-center">
      <a class="navbar-brand" routerLink="home">
        <img src="../../../../../assets/images/logo.png" alt="logo" />
      </a>
    </div>
    <div class="col col-md-12 col-lg-5 d-flex justify-content-center justify-content-lg-start">
      <li class="nav-item">
        <a class="nav-link" href="#">Testimonios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
    </div>
  </ul>
</div>
