<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Noticias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Actividades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Novedades</a>
  </li>
      <a class="navbar-brand" href="#">
        <img src="../../../../../assets/images/logo.png" alt="logo" />
      </a>
  <li class="nav-item">
    <a class="nav-link" href="#">Testimonios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Nosotros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contacto</a>
  </li>
</ul>
