<div class="card">
  <p-toolbar styleClass="mb-4">
    <div class="ui-toolbar-group-left">
      <div class="ui-toolbar-group-left">
        <button          
          class="btn btn-success mr-2"          
        ><i class="pi pi-plus"></i> Nuevo</button>
      </div>
    </div>
  </p-toolbar>
  <p-table
    [rows]="5"
    [paginator]="true"
    [value]="columns"
    responsiveLayout="scroll"
    [rowHover]="true"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">
          <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        </h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
          {{ col.header
          }}<p-sortIcon
            *ngIf="col.field"
            field="{{ col.field }}"
          ></p-sortIcon>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td *ngFor="let col of columns">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </td>
        <td class="buttons">
          <p-skeleton shape="square" size="3rem" styleClass="mr-2"></p-skeleton>
          <p-skeleton shape="square" size="3rem" styleClass="mr-2"></p-skeleton>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>