<footer>
  <div class="landing-footer">
    <div class="d-flex justify-content-center align-items-center">
      <div
        class="logo-ong d-flex flex-column justify-content-center align-items-center"
      >
        <img src="../../../../../assets/images/logo.png" alt="logo" />
      </div>
      <div class="link-web-wrapper text-center">
        <button class="btn primary btn-web">
          <a class="link-web" routerLink="/home">Visitar sitio web</a>
        </button>
      </div>
      <ul class="social-networks d-flex flex-column justify-content-between">
        <li>
          <a
            class="d-flex justify-content-between align-items-center"
            href="https://www.instagram.com/caritasargentina/"
          >
            <span>Instagram</span>
            <img
              class="social-logo"
              src="../../../../assets/icons/instagram.svg"
              alt="ig"
            />
          </a>
        </li>
        <li>
          <a
            class="d-flex justify-content-between align-items-center"
            href="https://www.linkedin.com/company/c%C3%A1ritas-argentina/"
          >
            <span>LinkedIn</span>
            <img
              class="social-logo"
              src="../../../../assets/icons/linkedin.svg"
              alt="ig"
            />
          </a>
        </li>
        <li>
          <a
            class="d-flex justify-content-between align-items-center"
            href="https://twitter.com/caritasar"
          >
            <span>Twitter</span>
            <img
              class="social-logo"
              src="../../../../assets/icons/twitter.svg"
              alt="ig"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
