<div class="sidebar">
    <div class="logo-details">
      <img src="../../../../assets/images/logo.png" alt="">
        <div class="logo_name">Somos más</div>
        <i class='pi pi-align-justify' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li *ngFor="let item of itemsList">
        <a [routerLink]="[item.path]">
          <i class="{{item.icon}}"></i>
          <span class="links_name">{{item.title}}</span>
        </a>
         <span class="tooltip">{{item.title}}</span>
      </li>

    </ul>
  </div>