<app-title title="Actividades" imagePath="/assets/images/image11.jpg"></app-title>
<div class="container-fluid">
    <section>
        <div class="activities-info">
            <h2>Conocé nuestras actividades</h2>
        </div>
    </section>
    <section>
        <div class="activities-list">
            <app-card routerLink="/actividades/{{activity.id}}" *ngFor="let activity of filteredActivities" 
                      title={{activity.name}} 
                      description={{activity.description}} 
                      imageSrc={{activity.image}}></app-card>                        
        </div>
        <div class="activities-loadmore" *ngIf="itemCount <= activities.length">
           <button class="btn btn-primary" (click)="fillArray()">Ver más</button> 
        </div>                
    </section>    
</div>
