<app-image-curved
  url="https://es-static.z-dn.net/files/d9b/749953edd2dd6b9502724384313c30d1.jpeg"
  title="Sobre Nosotros"
  [text]="'Somos mas'"
  [opacity]="0.2"
>
</app-image-curved>

<div class="row mt-2 mx-4 d-flex justify-content-center align-items-center">
  <div
    class="col-md-4 mt-5 d-flex justify-content-center align-items-center"
    *ngFor="let member of membersCard"
  >
    <app-card
      [title]="member.name"
      [imageSrc]="member.image"
      [description]="member.description || ''"
      [externalLinks]="member.links"
    ></app-card>
  </div>
</div>
