<app-dialog></app-dialog>
<app-progress-bar [isLoading]="isLoading"></app-progress-bar>
<app-image-curved
  url="https://es-static.z-dn.net/files/d9b/749953edd2dd6b9502724384313c30d1.jpeg"
  title="Sobre Nosotros"
  [text]="'Somos mas'"
  [opacity]="0.2"
>
</app-image-curved>

<div class="section-color">
  <div class="title-text">
    <hr />
    <h3>Conocé a nuestros miembros</h3>
  </div>
  <div class="container content-fluid">
    <section class="wrapper">
      <div *ngFor="let member of membersCard">
        <app-card
          [title]="member.name"
          [imageSrc]="member.image"
          [description]="member.description || ''"
          [externalLinks]="member.links"
        ></app-card>
      </div>
    </section>
  </div>
</div>

<div class="section-tweets">
  <div
    class="row mb-5 mx-4 d-flex justify-content-center align-items-center"
  >
    <div class="title-text mb-5">
      <hr />
      <h3>Enterate de las últimas novedades</h3>
    </div>
    <div class="tw-container mt-2">
      <ngx-twitter-timeline
        [data]="{ sourceType: 'url', url: 'https://twitter.com/sifundacion' }"
        [opts]="{ tweetLimit: 5 }"
      ></ngx-twitter-timeline>
    </div>
  </div>
</div>
