<p-toast></p-toast>

<div class="wrapper">
    <div class="card">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo Slide" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/backoffice/slides/', '']"></button>
            </ng-template>
        </p-toolbar>
    
        <p-table #dt [value]="slides" [rows]="5" [paginator]="true" [globalFilterFields]="['name','slide.name','order', 'slide.order']" responsiveLayout="scroll"
             [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} Slides" [showCurrentPageReport]="true">
    
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Todos los Slides</h5>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Imagen</th>
                    <th >Descripción</th>
                    <th pSortableColumn="order">Orden <p-sortIcon field="order"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-slide>
                <tr >
                    <td class="name">{{slide.name}}</td>
                    <td class="img"><img *ngIf="slide.image" [src]="slide.image" [alt]="slide.name"/></td>
                    <td><p class="description">{{slide.description}}</p></td>
                    <td>{{slide.order}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [routerLink]="['/backoffice/slides/', slide.id]" ></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSlides(slide)" ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
