<div class="container mt-4">
    <div class="row">
        <h2 class="text-center">Formulario Edición Home</h2>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <form class="col-12 col-sm-8 col-md-6 col-lg-6 mb-4" [formGroup]="formWelcomeText">
            <div class="mb-1 mt-3">
                <h5 class="form-label">Texto de Bienvenida</h5>
                <textarea class="form-control" rows="2" pInputTextarea formControlName="welcomeText"></textarea>
                <div *ngIf="welcomeText.invalid && welcomeText.touched" class="p-error block mt-2">
                    <small>El texto de bienvenida debe tener un mínimo de 20 caracteres</small>
                </div>
            </div>
        </form>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mb-4 mt-2 offset-lg-2">
            <h5>Slide 1</h5>
            <p-dropdown [options]="listSlides" [(ngModel)]="selectedSlide1" name="slide1" (onChange)="updateSlide1()" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccionar un Slide">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedSlide1">
                        <img [src]="selectedSlide1.image" width="100"/> {{selectedSlide1.name}}                  
                    </div>
                </ng-template>
                <ng-template let-selectedSlide1 pTemplate="item">
                    <div class="country-item">
                        <img [src]="selectedSlide1.image" width="100"/> {{selectedSlide1.name}}                                      
                    </div>
                </ng-template>
            </p-dropdown>
            <div *ngIf="selectedSlide1 == null" class="p-error block mt-2">
                <small>Debe seleccionar el Slide 1</small>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mb-4 mt-2 offset-lg-2">
            <h5>Slide 2</h5>
            <p-dropdown [options]="listSlides" [(ngModel)]="selectedSlide2" name="slide2" (onChange)="updateSlide2()" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccionar un Slide">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedSlide2">
                        <img [src]="selectedSlide2.image" width="100"/> {{selectedSlide2.name}}              
                    </div>
                </ng-template>
                <ng-template let-selectedSlide2 pTemplate="item">
                    <div class="country-item">
                        <img [src]="selectedSlide2.image" width="100"/> {{selectedSlide2.name}}            
                    </div>                    
                </ng-template>
            </p-dropdown>
            <div *ngIf="selectedSlide2 == null" class="p-error block mt-2">
                <small>Debe seleccionar el Slide 2</small>
            </div>    
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 mb-4 mt-2 offset-lg-2">
            <h5>Slide 3</h5>
            <p-dropdown [options]="listSlides" [(ngModel)]="selectedSlide3" name="slide3" (onChange)="updateSlide3()" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccionar un Slide">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedSlide3">
                        <img [src]="selectedSlide3.image" width="100"/> {{selectedSlide3.name}}                        
                    </div>
                </ng-template>
                <ng-template let-selectedSlide3 pTemplate="item">
                    <div class="country-item">
                        <img [src]="selectedSlide3.image" width="100"/> {{selectedSlide3.name}}            
                    </div>
                </ng-template>
            </p-dropdown>
            <div *ngIf="selectedSlide3 == null" class="p-error block mt-2">
                <small>Debe seleccionar el Slide 3</small>
            </div>  
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <form class="col-12 col-sm-8 col-md-6 col-lg-6">
            <div class="d-grid gap-2 col-4 mx-auto mt-2">
                <button pButton pRipple type="button" (click)="updateSlides()" data-bs-toggle="modal" data-bs-target="#staticBackdrop" label="Guardar cambios" class="primary" [disabled]="selectedSlide1 == null || selectedSlide2 == null || selectedSlide3 == null || !formWelcomeText.valid"></button>
            </div>
        </form>
    </div>
</div>

<!-- Modal con mensaje -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="!updateMessageModal" class="modal-title" id="staticBackdropLabel">Se guardó cambios...</h5>
                <h5 *ngIf="updateMessageModal" class="modal-title" id="staticBackdropLabel">No puede guardar cambios...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="!updateMessageModal" class="modal-body">
                Texto de bienvenida y slides modificados correctamente
            </div>
            <div *ngIf="updateMessageModal" class="modal-body">
                Tiene slides duplicados
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>                
            </div>
        </div>
    </div>
</div>