<div class="container fadeInDown" id="formContent">
  <header class="header">
    <img class="logo" src="../../../../../assets/images/logo.png" alt="logo">
    <h1>Login</h1>
  </header>
  <main>
    <form [formGroup]="form">
      <div class="field">
        <label for="email" class="block">Email</label>
        <input
          formControlName="email"
          id="email"
          type="email"
          aria-describedby="email-help"
          [ngClass]="{'ng-invalid ng-dirty': email?.touched && email?.errors}"
          pInputText />
        <small
          *ngIf="email?.touched && email?.errors"
          id="email-help"
          class="p-error block"
        >Debe ingresar un email válido.</small>
      </div>

      <div class="field">
        <label for="password" class="block">Contraseña</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          aria-describedby="password-help" 
          [ngClass]="{'ng-invalid ng-dirty': password?.touched && password?.errors}"
          pInputText />
        <small
          *ngIf="password?.touched && password?.hasError('required')"
          id="password-help"
          class="p-error block"
        >Debe ingresar una contraseña.</small>
        <small
          *ngIf="password?.touched && !password?.hasError('required') && password?.errors?.minlength"
          id="password-help"
          class="p-error block"
        >La contraseña debe tener como mínimo 6 caracteres.</small>
        <small
          *ngIf="password?.touched && !password?.hasError('required') && password?.errors?.notPattern"
          id="password-help"
          class="p-error block"
        >La contraseña debe contener al menos 1 letra, 1 número y 1 símbolo.</small>
      </div>

      <button (click)="login($event)" pButton pRipple type="button" label="Ingresar" class="primary"></button>
      	
      <hr/>
      <p>o iniciá con</p>
      <button (click)="loginGoogle()" pButton pRipple type="button" label="oogle" class="p-button-raised p-button-danger p-button-text"><img src="../../../../../assets/icons/google.svg" alt=""></button>
      <a routerLink="/registro">Registrarse</a>
    </form>
  </main>
</div>