<hr>
<footer>
  <a class="logo" href="https://caritas.org.ar/">
    <img src="../../../../assets/landing/logo-toys.png" alt="logo">
    <span class="slogan">Juguetes por más Sonrisas</span>
  </a>
  <div class="other-campaigns">
    <a href="/lading">Campaña escolar</a>
  </div>
  <ul class="social-networks">
    <li>
      <a href="https://www.instagram.com/caritasargentina/">
        <span>Instagram</span>
        <img src="../../../../assets/icons/instagram.svg" alt="ig">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/c%C3%A1ritas-argentina/">
        <span>LinkedIn</span>
        <img src="../../../../assets/icons/linkedin.svg" alt="ig">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/caritasar">
        <span>Twitter</span>
        <img src="../../../../assets/icons/twitter.svg" alt="ig">
      </a>
    </li>
  </ul>
</footer>